<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.william.collegeapartmentsbacke.mapper.NoticeMapper">
    <!--    批量删除员工 (1, 2, 3)-->
<!--    <delete id="delete">-->
<!--        delete-->
<!--        from emp-->
<!--        where id in-->
<!--        <foreach collection="ids" item="id" separator="," open="("  close=")">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </delete>-->
    <select id="list" resultType="com.william.collegeapartmentsbacke.pojo.Notice">
        select a.id,
               a.title,
               a.content,
               at.type_name,
               a.publish_time,
               a.is_active
        from
            Notification.announcements a
        join
            Notification.announcement_types at ON a.type_id = at.id
        <where>

                a.is_active = #{isActive}
        </where>
        order by a.publish_time desc
    </select>
</mapper>