<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.william.collegeapartmentsbacke.mapper.QuestionnaireMapper">
    <insert id="addQuestion">
        insert into coap.question (id, type, name, description, content, questionnaire_id) VALUES
    </insert>



    <select id="countById" resultType="com.william.collegeapartmentsbacke.pojo.vo.questionnaire.QuestionnaireVO" parameterType="list">
        SELECT coap.questionnaire, count(*) as cnt
        FROM user_paper
        WHERE questionnaire
        IN
        <foreach collection="list" item="questionnaire" open="(" close=")" separator=",">
            #{questionnaire,javaType=String}
        </foreach>
        GROUP BY questionnaire
    </select>

</mapper>