<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.william.collegeapartmentsbacke.mapper.UserMapper">


    <insert id="insert">
        insert into coap.user (openid, username, password, name, userid ,phone, avatar_url, user_level)
        values (#{openid}, #{username}, #{password}, #{name}, #{userid}, #{phone},#{avatarURL},#{userLevel})
    </insert>
</mapper>